/* Start of styles */

.navbar-brand h1 {
  color: rgb(252, 249, 109);
  font-family: 'Righteous', cursive;
}

.dropdown-item {
  font-size: 12px;
  padding-left: 5px;
  min-width: 50px;
}

.navbar-nav{
  padding-right: 50px;
}

.dropdown-item{
  background-color:rgb(100, 101, 114);
  color: rgb(248, 248, 244);
}

.dropdown-item:hover{
  background-color:rgb(42, 53, 207);
  color: rgb(230, 233, 64);
}

body{
  background: rgb(246,232,23);
  background: linear-gradient(261deg, rgba(246,232,23,1) 0%, rgba(71,213,237,1) 35%, rgb(99, 43, 250) 100%);
}

.pic{
  width: 220px;
  height: 175px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.pic:hover{
  border: 5px solid rebeccapurple
}

.col-sm-4 h1{
  margin-top: 30px;
  margin-bottom: 80px;
}

.summary{
  font-size: 20px;

}