/* Start of styles */

.navbar-brand h1 {
  color: rgb(252, 249, 109);
  font-family: 'Righteous', cursive;
}

.dropdown-item {
  font-size: 12px;
  padding-left: 5px;
  min-width: 50px;
}

.navbar-nav{
  padding-right: 50px;
}

.dropdown-item{
  background-color:rgb(100, 101, 114);
  color: rgb(248, 248, 244);
}

.dropdown-item:hover{
  background-color:rgb(42, 53, 207);
  color: rgb(230, 233, 64);
}

body{
  background: rgb(246,232,23);
  background: linear-gradient(261deg, rgba(246,232,23,1) 0%, rgba(71,213,237,1) 35%, rgb(99, 43, 250) 100%);
}

.pic{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.big_pic{
  width: 80%;
  height: auto;
  margin-left: 80px;
  margin-right: auto;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);
  display:block;
}

.col-sm-8 h1{
  width: 80%;
  display:block;
  margin-left: 90px;
}


.pic:hover{
  border: 5px solid rebeccapurple;
}

.col-sm-4 h1{
  margin-top: 30px;
  margin-bottom: 80px;
}

.side{
  border-left:2px solid rebeccapurple;
}

.summary{
  font-size: 20px;
}

.comp_pic{
  width: 80%;
  height: auto;
  margin-left: 80px;
  margin-right: auto;
  margin-bottom: 40px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);
  display:block;
}

.comp_pic:hover{
  border: 5px solid rebeccapurple
}

.divScroll{
overflow:scroll;
height:550px;
width:100%;
}

th{
  position:sticky;
  top: 0;
}